<div class="row text-light pt-2 justify-content-center">
<div class="col-sm-5">
<div class="h1 red-title">Welcome page!</div>
<div>
MVC Template by Maxwell Thundermount. <a href="https://github.com/Thundermount">My github page.</a>
<div></div>
If you use it, please give credit. This template can be almost any website. It already contains code for accounts and records, but if
you don't need them, you can just remove them.
<div></div>
First thing you have to do is to set up your database connection in index.php file. If you have domain, set up settings in config.php file.
</div>
</div>
</div>